<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="../images/favicon.ico"
	th:href="@{/images/favicon.ico}" type="image/x-icon" />
<link href="../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />

<link href="../css/album.css" th:href="@{/css/album.css}"
	rel="stylesheet" media="screen" />
<link href="../css/override.css" th:href="@{/css/override.css}"
	rel="stylesheet" media="screen" />


<title>Aspley family day care</title>
</head>
<body>

	<div class="collapse bg-inverse" id="navbarHeader">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 py-4">
					<h4 class="text-white">About</h4>
					<p class="text-muted">We are very supportive family day care.</p>
				</div>
				<div class="col-sm-8 py-4">
					<h4 class="text-white">Greeting from Ann</h4>
					<p class="text-muted">Thank you for visiting us.</p>
				</div>
				<div class="col-sm-4 py-4">
					<h4 class="text-white">Contact</h4>
					<ul class="list-unstyled">
						<li><a href="#" class="text-white">Contact US</a></li>
						<li><a href="#" id="locateus" class="text-white">Locate
								US</a></li>
						<li><a href="#" class="text-white">Request a tour</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="navbar navbar-inverse bg-inverse">
		<div class="container d-flex justify-content-between">
			<a href="#" class="navbar-brand">Aspley Family Day Care</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarHeader" aria-controls="navbarHeader"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</div>

	<section class="jumbotron text-center afdc-center">
		<div class="container">
			<h1 class="jumbotron-heading afdc-welcome">Welcome to Aspley
				Family Day Care</h1>
			<p class="lead text-muted">Childrens are everything to us.</p>
			<p>
				<a href="#" class="btn btn-primary">Online Booking</a> <a href="#"
					class="btn btn-secondary">Take a tour</a>
			</p>
		</div>
	</section>

	<div class="album text-muted">
		<div class="container">

			<div class="row">
				<div class="card">
					<img src="../images/afdc1.jpg" th:src="@{/images/afdc1.jpg}"
						alt="AFDC Image1"></img>
					<p class="card-text"></p>
				</div>
				<div class="card">
					<img src="../images/afdc2.png" th:src="@{/images/afdc2.png}"
						alt="AFDC Image2"></img>
					<p class="card-text"></p>
				</div>
				<div class="card">
					<img src="../images/afdc3.png" th:src="@{/images/afdc3.png}"
						alt="AFDC Image2"></img>
					<p class="card-text">Multicultural environment.</p>
				</div>

				<!-- 				<div class="card"> -->
				<!-- 					<img data-src="holder.js/100px280/thumb" alt="Card image cap"> -->
				<!-- 					<p class="card-text">This is a wider card with supporting text -->
				<!-- 						below as a natural lead-in to additional content. This content is -->
				<!-- 						a little bit longer.</p> -->
				<!-- 				</div> -->
				<!-- 				<div class="card"> -->
				<!-- 					<img data-src="holder.js/100px280/thumb" alt="Card image cap"> -->
				<!-- 					<p class="card-text">This is a wider card with supporting text -->
				<!-- 						below as a natural lead-in to additional content. This content is -->
				<!-- 						a little bit longer.</p> -->
				<!-- 				</div> -->
				<!-- 				<div class="card"> -->
				<!-- 					<img data-src="holder.js/100px280/thumb" alt="Card image cap"> -->
				<!-- 					<p class="card-text">This is a wider card with supporting text -->
				<!-- 						below as a natural lead-in to additional content. This content is -->
				<!-- 						a little bit longer.</p> -->
				<!-- 				</div> -->

				<!-- 				<div class="card"> -->
				<!-- 					<img data-src="holder.js/100px280/thumb" alt="Card image cap"> -->
				<!-- 					<p class="card-text">This is a wider card with supporting text -->
				<!-- 						below as a natural lead-in to additional content. This content is -->
				<!-- 						a little bit longer.</p> -->
				<!-- 				</div> -->
				<!-- 				<div class="card"> -->
				<!-- 					<img data-src="holder.js/100px280/thumb" alt="Card image cap"> -->
				<!-- 					<p class="card-text">This is a wider card with supporting text -->
				<!-- 						below as a natural lead-in to additional content. This content is -->
				<!-- 						a little bit longer.</p> -->
				<!-- 				</div> -->
				<!-- 				<div class="card"> -->
				<!-- 					<img data-src="holder.js/100px280/thumb" alt="Card image cap"> -->
				<!-- 					<p class="card-text">This is a wider card with supporting text -->
				<!-- 						below as a natural lead-in to additional content. This content is -->
				<!-- 						a little bit longer.</p> -->
				<!-- 				</div> -->
			</div>

		</div>
		<div class="container">
			<div id="googleMap" style="width: 100%; height: 400px;"></div>
		</div>
	</div>
	<footer class="text-muted">
		<div class="container">
			<p class="float-right">
				<a href="#">Back to top</a>
			</p>
			<p>&copy; ASPLEY FAMILY DAY CARE ABN:42253612817</p>
			<p>
				Registered with <a href="http://www.kafamilydaycare.com.au/">KA
					Family Day Care - QLD</a> Scheme
			</p>
			<p>
				Also find us at <a
					href="https://www.careforkids.com.au/child-care/62ejv/aspley-family-day-care-4034">CareforKids.com.au</a>
			</p>
			<p>Main Educator: OHIN KWON (Ann)</p>
		</div>
	</footer>
	<script>

	</script>
	<script src="../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script src="../js/tether.min.js" th:src="@{/js/tether.min.js}"></script>
	<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
	<script src="../js/ie10-viewport-bug-workaround.js"
		th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
	<script src="../js/afdc.js" th:src="@{/js/afdc.js}"></script>
</body>
</html>