<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- <link rel="shortcut icon" href="../images/icon.png" -->
<!-- 	th:href="@{/images/icon.png}" /> -->
<link href="../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<!-- <link href="../css/bootstrap-flex.min.css" -->
<!-- 	th:href="@{/css/bootstrap-flex.min.css}" rel="stylesheet" -->
<!-- 	media="screen" /> -->
<!-- <link href="../css/bootstrap-grid.min.css" -->
<!-- 	th:href="@{/css/bootstrap-grid.min.css}" rel="stylesheet" -->
<!-- 	media="screen" /> -->
<!-- <link href="../css/bootstrap-reboot.min.css" -->
<!-- 	th:href="@{/css/bootstrap-reboot.min.css}" rel="stylesheet" -->
<!-- 	media="screen" /> -->
<!-- <link href="../css/font-awesome.min.css" -->
<!-- 	th:href="@{/css/font-awesome.min.css}" rel="stylesheet" media="screen" /> -->


<link href="../css/starter-template.css"
	th:href="@{/css/starter-template.css}" rel="stylesheet" media="screen" />

<!-- <script src="../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script> -->
<!-- <script src="../js/tether.min.js" th:src="@{/js/tether.min.js}"></script> -->
<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>


<title>ASPLEY FAMILY DAY CARE</title>
</head>

<body>

	<nav
		class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
		<button class="navbar-toggler navbar-toggler-right" type="button"
			data-toggle="collapse" data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">Aspley Family Day Care</a>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">About</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Online Booking
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Contact
						US</a></li>

			</ul>

		</div>
	</nav>
	<div class="container">

		<div class="starter-template">
			<h1>Welcome to Aspley Family Day Care</h1>
			<p class="lead">This site is coming shortly. In the meantime,
				please <a href="https://www.careforkids.com.au/child-care/62ejv/aspley-family-day-care-4034">contact us</a> for any enquires.</p>
		</div>
		<!-- Site footer -->
		<footer class="footer">
			<p>&copy; ASPLEY FAMILY DAY CARE ABN:42253612817</p>
					<p>Main Educator: OHIN KWON</p>
		</footer>

	</div>
	<!-- /container -->
</body>
</html>